
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css2/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css2/main.css' %}">
    
    <link href="{% static 'index/https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css">

    <link rel="stylesheet" href="{% static 'indexx/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'indexx/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'indexx/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'indexx/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'indexx/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'indexx/css/style.css' %}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300"></body>


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
               <a href="/home" class="nav-link" >Home</a>
                  <a href="/signup" class="nav-link">Signup</a>
                  
                  </ul>
    
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay" style="background-image: url(../static/index/images/hero_2.jpg);" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
			<body>
	
				<div class="limiter">
					<div class="container-login100" style="background-image: url('images1/bg-01.jpg');">
						<div class="wrap-login100 p-t-30 p-b-50">
							<span class="login100-form-title p-b-41">
								Account Login
							</span>
							<form class="login100-form validate-form p-b-33 p-t-5" method ="POST">
							   {% csrf_token %}
			
								<div class="wrap-input100 validate-input" data-validate = "Enter username">
									<input class="input100" type="text" name="username" placeholder="User name">
									<span class="focus-input100" data-placeholder="&#xe82a;"></span>
								</div>
			
								<div class="wrap-input100 validate-input" data-validate="Enter password">
									<input class="input100" type="password" name="password" placeholder="Password">
									<span class="focus-input100" data-placeholder="&#xe80f;"></span>
								</div>
							
			
								<div class="container-login100-form-btn m-t-32">
									<button class="login100-form-btn">
										Login
									</button>
                </div>
                
			
							</form>
						</div>
          </div>
        </div>
      </div>  
    </div>

    

  <script src="{% static 'index/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'index/js/jquery-ui.js' %}"></script>
  <script src="{% static 'index/js/popper.min.js' %}"></script>
  <script src="{% static 'index/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'index/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'index/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'index/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'index/js/aos.js' %}"></script>
  <script src="{% static 'index/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'index/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'index/js/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'index/js/main.js' %}"></script>
    
  </body>
</html>