<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="../css/order.css">
</head>
<body>
    <form>
		<table>
				<tr><div class="order">
					<h2>
				Name :<input type="text" placeholder="Name" name=""><br><br>
				Address :<input type="text" placeholder="Address" name=""><br><br>
				Location:<input type="text" placeholder="Location" name=""><br><br>
                Price:<input type="price" placeholder="Monthly Cost" name=""><br><br>
                Description:<textarea rows="7" cols="50" name="comment" form="usrform">
                </textarea> <br> <br>
                Picture:<input type='file' onchange="readURL(this);">
                

               
                
            
                </div>
                
				
				<div class="button">
					<input type="button" value="Submit" name="" style="height: 25px; width: 100px">
				</div>				
				
			</tr>
		</table>
	</form>
</body>
</html>