<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Hostel</title>
</head>
<body>
    <form>
        <h1> List of Hostel</h1>



        <!-- {% if error %}
        <p style="color: red;">Please submit a search term.</p>
    {% endif %} -->
        <form action="search" method="get">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>


    
    {% for hostel in Hostel %}
    Name  : {{hostel.Name}} <br>
    Location : {{hostel.Location}} <br>
    Price: {{hostel.Price}}
    <!-- Picture : {{hostel.image}}<br>  --><br>
    Description : {{hostel.Description}}<br>
    <a href="edit/{{hostel.id}}">Edit </a> <br> 
    <a href="delete/{{hostel.id}}">Delete</a> <br>
    
    
    ======================================== <br>
    {% empty %} 
    There are no any hostel.
        {% endfor %}
        
        

        
        
    </form>
</body>
</html>