<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Hostel</title>
</head>
<body>
    <h1> List of Hostel</h1>
    {% for Hostel in Hostelfinding %}
    Name  : {{hostel.name}} <br>
    Location : {{hostel.location}} <br>
    Price: {{hostel.price}}
    Picture : {{hostel.image}}<br>
    Description : {{hostel.description}}
    <a href="edit/{{hostel.name}}">Edit this</a> <br>
    
    ======================================== <br>
    {% empty %}
    There are no any hostel.
{% endfor %}
</body>
</html>