<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Hostel</title>
</head>
<body>
    <h1> List of Hostel</h1>
    {% for hostel in Hostel %}
    Name  : {{hostel.Name}} <br>
    Location : {{hostel.Location}} <br>
    Price: {{hostel.Price}}
    <!-- Picture : {{hostel.image}}<br>  -->
    Description : {{hostel.Description}}
    <!-- <a href="edit/{{hostel.name}}">Edit this</a>--> <br> 
    
    ======================================== <br>
    {% empty %} 
    There are no any hostel.
        {% endfor %}
</body>
</html>