<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Form </title>
</head>
<body>
    <form method="POST" action="save">
        {% csrf_token %}
        Enter Name: <input name="Name" type="text" > <br>
        Enter Location : <input name="Location" type="text" > <br>
        Enter Price: <input name="Price" type="text" > <br> 
        <!-- Enter Picture: <input name="Picture" type="text" > <br> -->
        Enter Description:<input name="Description" type="text" > <br>
        <input type="submit">
    </form>


    
</body>
</html>