<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Form </title>
</head>
<body>
    <form method="POST" action="update/{{book.id}}">
        {% csrf_token %}
        Update name: <input name="Name" type="text" value={{hostel.name}}> <br>
        Update location : <input name="text" type="text" value={{hostel.laocation}}> <br>
        Update price: <input name="price" type="integer" value={{hostel.price}} > <br>
        Update picture: <input name="file" type="text" value={{hostel.picture}}> <br>
        Update description: <input name="text" type="text" value={{hostel.description}}> <br>
        <input type="submit">
    </form>

</body>
</html>