
<!DOCTYPE>
<html>
<head>
	<title>Order</title>
	<link rel="stylesheet" type="text/css" href="../css/order.css">
</head>
<body>
	<header>
		<div class="main">
		<div class="logo">
			<img src="../picture/logo.png">
		</div>
			
	<form>
		<table>
				<tr><div class="order">
					<h2>
				Name :<input type="text" placeholder="Name" name=""><br><br>
				Address :<input type="text" placeholder="Address" name=""><br><br>
				Location:<input type="phone" placeholder="98********" name=""><br><br>
				Email Address :<input type="Email" placeholder="Email Address" name=""><br><br>
			
				</div>
				
				<div class="button">
					<input type="button" value="Order" name="" style="height: 25px; width: 100px">
				</div>				
				
			</tr>
		</table>
	</form>
</div>

</header>
</body>
</html>	
